<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About-Blog & Beyond</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  </head>
  <body class="min-h-screen sm:min-h-screen sm:overflow-hidden">
    <div class="header p-5 text-white text-2xl flex items-center justify-between bg-black">
      <a href="/" class="flex items-center">
        <i class="fa-solid fa-house text-xl text-white mr-3 md:text-2xl"style="color: rgb(104, 108, 117);"></i>
        <h3 class="font-serif"><b>Blogs & Beyond</b></h3>
      </a>
  </div>

    <div class="mt-1 bg-blue-300 h-full sm:min-h-screen flex flex-col items-center relative">
      <h1 class="text-xl sm:text-2xl mt-10 underline"><b>Everyone has a story to tell</b></h1>
      <div class="content p-10 mt-5 mb-5 sm:mb-0 sm:mt-20 w-96 mb-0 sm:w-2/3 h-full border rounded-md border-2 bg-zinc-300 text-md font-serif ">
        <strong>Blogs & Beyond</strong> is a space dedicated to exploring a wide range of topics that spark
        curiosity, creativity, and inspiration. Whether it's the latest in
        technology, insightful thoughts on personal growth, or a deep dive into
        niche interests, Blog & Beyond is where ideas go beyond the surface. <br/><br/>I’m
        <b>Pooja Singh Chouhan</b>, a passionate fullstack developer, and I
        created this platform to share my thoughts, experiences, and discoveries with
        you. <br/><br/> <span class="bg-zinc-400">Our goal is to offer valuable content that resonates with you, whether
        you're here to learn, be inspired, or simply enjoy a good read.</span> Join me on
        this exciting journey as we explore, learn, and grow—Beyond the ordinary!
      </div>
      <div class="mt-10 flex justify-between w-96 gap-10">
        <div class=" flex justify-between gap-20">
          <a href=""><i class="fa-brands fa-instagram fa-beat-fade text-4xl" style="color: #fe2181;"></i></a>
          <a href=""><i class="fa-brands fa-linkedin fa-beat-fade text-4xl" style="color: #1c69b7;"></i></a>
          <a href=""><i class="fa-brands fa-twitter fa-beat-fade text-4xl" style="color: #026bff;"></i></a>
          <a href=""><i class="fa-brands fa-facebook fa-beat-fade text-4xl" style="color: #0072de;"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>
